# Godot 4+ specific ignores
# Кэш и импортированные ассеты (самое тяжелое)
.godot/

/android/

# Локальные настройки редактора
.import/
export_presets.cfg

# Сборки (если буду билдить .apk прямо в папку проекта)
*.apk
*.pck